/*Contact Page styling*/
form {
  font-family: 'Lato', sans-serif;
  z-index: 5px;
  margin: 175px auto;
  width: 50%;
  border: 1px solid black;
}

textarea {
  font-family: 'Lato', sans-serif;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

textarea:hover {
  font-family: 'Lato', sans-serif;
  background-color: rgb(205, 214, 223);
  color: rgb(245, 252, 252);
}

input {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

input:hover {
  font-family: 'Lato', sans-serif;
  background-color: rgb(205, 214, 223);
  color: rgb(245, 252, 252);
}

button {
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
}