#home {
    font-family: 'Lato', sans-serif;
    margin-right: 4%;
    margin-top: -50px;
    margin-bottom: 0%;
    margin-left: 380px;
    text-align: center;
    font-size: 0.4rem;
}

#home-intro {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.2rem;
    margin-top: -30px;
}