/*Drawings Page styling*/
main {
  font-family: 'Lato', sans-serif;
  margin: 95px 125px -100px -55px;
}

#drawings-container {
  font-family: 'Lato', sans-serif;
  margin-bottom: 10%;
  margin-top: 5%;
}

/* #text h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-left: 135px;
  } */

/* #text hr {
      width: 55%;
      margin-left: 135px;
      margin-right: auto;
      margin-top: 20%;
      border-top: 0.25px solid lightgrey
  } */

.image {
  height: 375px;
  width: 345px;
}

/* #drawings #drawings2 {
    height: 325px;
    width: 300px;
    border: 0.25px solid lightgray;
    margin-top: 20%;
    margin-bottom: 4%;
    padding-left: 0%;
  } */

.image:hover {
  -ms-transform: scale(1.35);
  /* IE 9 */
  -webkit-transform: scale(1.35);
  /* Safari 3-8 */
  transform: scale(1.35);
}