/*Drawings Page styling*/
main {
  font-family: 'Lato', sans-serif;
  margin: 95px 125px -100px -55px;
}

#drawings-container {
  font-family: 'Lato', sans-serif;
  margin-bottom: 10%;
  margin-top: 5%;
}

.image {
  height: 375px;
  width: 345px;
}

.image:hover {
  -ms-transform: scale(1.35);
  /* IE 9 */
  -webkit-transform: scale(1.35);
  /* Safari 3-8 */
  transform: scale(1.35);
}